.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  /* background-color: #1e2850; */
  /* outline: 1px solid tomato; */
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
  }
}